*{
  margin: 0;
  padding: 0;

}
@font-face {
    font-family: "titulo";
    src: url(../font/hello_darling_2/Hello\ Darling.ttf);
}

body{ 
    background-image: url("../css/img/fondo.webp");
    height: 100%;
    width: 100%;
    background-size:cover;
    background-attachment: scroll;

}
/*index*/
#navegacion{
  font-family: Arial;
                          
}
                        
ul{
  display: none;
}
                        
input:checked  ~ ul{
   display:block;
}
                        
input {
   display: none;
}
                        
label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid rgb(66, 23, 23);
  border-radius: 5px;
  width: auto;
  height: auto;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
                        
/* Estilo del boton*/
.label:hover{
   background: rgb(188, 93, 93);
}
                        
/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
background: rgb(64, 18, 18);
}
                        
ul{
margin-top:0;
padding: 0;
width: 200px;

}
                                
li {
display: block;
background: rgb(248, 205, 205);
margin: 0;
padding: 10px;
list-style: none;
border-bottom: 1px solid rgb(73, 36, 36); ;
}
                        
/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
filter: brightness(110%);
}

.buscar{
color: rgb(64, 18, 18) ;
border-color: brown;
background-color: rgb(248, 205, 205);
text-align: center;
margin: 0px;
border-radius: 10px;
border-style:hidden;
}


.site-footer
{
 background-color:#26272b;
 padding:45px 0 20px;
 font-size:15px;
 line-height:24px;
 color:#737373;
}
.site-footer hr
{
 border-top-color:#bbb;
 opacity:0.5
}
.site-footer hr.small
{
 margin:20px 0
}
.site-footer h6
{
 color:#fff;
 font-size:16px;
 text-transform:uppercase;
 margin-top:5px;
 letter-spacing:2px
}
.site-footer a
{
 color:#737373;
}
.site-footer a:hover
{
 color:#3366cc;
 text-decoration:none;
}
.footer-links
{
 padding-left:0;
 list-style:none
}
.footer-links li
{
 display:block
}
.footer-links a
{
 color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
 color:#3366cc;
 text-decoration:none;
}
.footer-links.inline li
{
 display:inline-block
}
.site-footer .social-icons
{
 text-align:right
}
.site-footer .social-icons a
{
 width:40px;
 height:40px;
 line-height:40px;
 margin-left:6px;
 margin-right:0;
 border-radius:100%;
 background-color:#33353d
}
.copyright-text
{
 margin:0
}
@media (max-width:991px)
{
 .site-footer [class^=col-]
 {
   margin-bottom:30px
 }
}
@media (max-width:767px)
{
 .site-footer
 {
   padding-bottom:0
 }
 .site-footer .copyright-text,.site-footer .social-icons
 {
   text-align:center
 }
}
.social-icons
{
 padding-left:0;
 margin-bottom:0;
 list-style:none
}
.social-icons li
{
 display:inline-block;
 margin-bottom:4px
}
.social-icons li.title
{
 margin-right:15px;
 text-transform:uppercase;
 color:#96a2b2;
 font-weight:700;
 font-size:13px
}
.social-icons a{
 background-color:#eceeef;
 color:#818a91;
 font-size:16px;
 display:inline-block;
 line-height:44px;
 width:44px;
 height:44px;
 text-align:center;
 margin-right:8px;
 border-radius:100%;
 -webkit-transition:all .2s linear;
 -o-transition:all .2s linear;
 transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
 color:#fff;
 background-color:#29aafe
}
.social-icons.size-sm a
{
 line-height:34px;
 height:34px;
 width:34px;
 font-size:14px
}
.social-icons a.facebook:hover
{
 background-color:#3b5998
}
.social-icons a.twitter:hover
{
 background-color:#00aced
}
.social-icons a.linkedin:hover
{
 background-color:#007bb6
}
.social-icons a.dribbble:hover
{
 background-color:#ea4c89
}
@media (max-width:767px)
{
 .social-icons li.title
 {
   display:block;
   margin-right:0;
   font-weight:600
 }
}

 .tamañoParrafo1{
  font-size: 40px;
}

.tituloColor{
animation-name: movi;
animation-duration: 3s;
animation-iteration-count: infinite;
font-family: "titulo";
font-weight: 100;
font-size: 100px;
color: rgb(73, 36, 36);
text-decoration:underline;
background-color: rgb(227, 192, 192);
}
@keyframes movi {
  0%{
      transform: translate(0px, 0px);
  }
  25%{
      transform:translate(50px, 0px);
  }
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
.presentacion{
  color: rgb(95, 54, 5);
  font-style: oblique;
  width: 100%;
  height: 30%;
  background-color: rgb(255, 238, 238);
  padding: 0px;
  margin: 60px 0px;
  border-top: dotted 5px rgb(114, 58, 58);
  border-bottom: dotted 5px rgb(114, 58, 58);


}


.muestra{
  color: rgb(53, 28, 28);
  font-size: 35px;
  font-family: sans-serif;
  
}
.site-footer
{
background-color: rgb(236, 216, 216);
padding: 5px 5px;
font-size:12px;
line-height:24px;
color:rgb(187, 86, 86);
}
.site-footer a
{
color:rgb(164, 76, 76);
}
.site-footer a:hover
{
color:rgb(91, 1, 1);
text-decoration:none;
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}




/*Html Relojes*/
.tarjeta:hover{
  transform: translate(20px, -30px);
  transition: all 2s;
  width: 200px;
}
.contenedorTarjetas{
 width: 100px;
 display: grid;
 height: 50%;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  padding: 20px;
  margin: 10px;
  grid-template-rows: 250px ;
  column-gap: 20px;
  row-gap: 100px;
}
.tarjeta{
  
  width: 150px;
  height: 250px;
  background-color: rgb(215, 173, 173);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 5px 10px 5px rgb(62, 28, 28);
}
.tarjeta__titulo{
  color: rgb(73, 36, 36);
  font-style:normal;
  font-size: 20px;
}
.tarjeta_boton:hover{
  transform: rotate(360deg);
  transition: all 2s;
}
.tarjeta_boton{
  font-style: normal;
font-size: 20px;
color: rgb(73, 36, 36);
 border-color: rgb(227, 171, 171);
 background-color: rgb(248, 205, 205);
 text-align: center;
 margin: 0px;
 border-radius: 10px;

}
.top{
  font-style: oblique;
  font-weight: 50;
  font-size: 65px;
  color: rgb(73, 36, 36);
  text-align: center;
  text-decoration: wavy;
  margin: 40px;
  }
  .lista{
      text-align: center ;
      color: brown;
      background-color: rgb(231, 190, 190);
      font-size: 40px;
}
.video{
  text-align: center ;
  color: brown;
  font-size: 30px;
  font-style:oblique;
  margin: 30px;
}

/*Html informacion*/
.oro{
  font-style: oblique;
font-weight: 50;
font-size: 65px;
color: rgb(73, 36, 36);
text-align: center;
text-decoration: wavy;
margin: 40px;
}

.tabla{
width: 100%;
 text-align:center;
 border-collapse: collapse;
 margin: 0 0 1em 0;
 caption-side: top;
  text-align: center;
  width: 100%;
  border: 1px dotted rgb(93, 49, 49);
  background-color: rgb(160, 131, 131);
  font-size: 30px;
  color: rgb(255, 255, 255);
}

/*Html Recibir*/
.enviar{
font-style: normal;
font-size: 30px;
color: rgb(73, 36, 36);
text-align: center;
margin-left: 40px;
}

.selec{
  color:rgb(71, 19, 19);
  font-size: 30px;
  border-bottom: brown;
  border-bottom-color: rgb(103, 6, 6);
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
}
.elegir{
  font-style: normal;
font-size: 30px;
color: rgb(73, 36, 36);
text-align:left;
text-align: center;
margin-left: 100px;
margin-right: 100px;
}
.pref{
  color:rgb(187, 135, 135);
  font-size: 30px;
  border: bottom 30px;
  margin: 10px;
  display: inline-block;
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  position: relative;
}

.fin{
color: rgb(64, 18, 18) ;
border-color: rgb(223, 159, 159);
text-align: center;
border-radius: 10px;
border-style:double;
font-size: 25px;
margin-left: 600px;
margin-right: 600px;
}
.gra{
  color: rgb(64, 18, 18) ;
border-color: rgb(223, 159, 159);
text-align: center;
border-radius: 10px;
border-style:double;
font-size: 25px;
}
}

/*Html contactos*/
.formulario{
  font-style: normal;
  font-size: 20px;
  display: flex;
  margin: 0px;
  text-align-last: center;
  color: rgb(122, 83, 83);
  
  }
  .part{
      font-style: normal;
  font-size: 50px;
  color: rgb(73, 36, 36);
  text-align: center;
  margin: 40px;
  }
  .escriba{
      font-style: normal;
  font-size: 50px;
  text-decoration:underline;
  color: rgb(73, 36, 36);
  text-align:center;
  margin: 40px;
  }
  .enviarf{
      font-style: normal;
      font-size: 20px;
      color: rgb(73, 36, 36);
      text-align: center;
      margin: 40px;
      order: 2;
  }
  .tyc{
    font-style: normal;
    font-size: 30px;
    color: rgb(73, 36, 36);
    text-align: center;
    margin: 40px;
    order: 1;
}
  .cont-formulario{   
      
      height: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction:column;
      justify-content: space-between;
      margin-left: 300px;
      margin-right: 300px;
  }

.ing{
  background-color:rgb(248, 205, 205) ;
}
  