.enviar{
    font-style: normal;
    font-size: 30px;
    color: rgb(73, 36, 36);
    text-align: center;
    margin: 40px;
    }
    .selec{
        color:rgb(71, 19, 19);
        font-size: 30px;
        border: bottom 20px;
    }
    .elegir{
        font-style: normal;
    font-size: 30px;
    color: rgb(73, 36, 36);
    text-align:left;
    margin: 0px;
    }
    .pref{
        color:rgb(71, 19, 19);
        font-size: 30px;
        border: bottom 30px;
        margin: 10px;
        
    }
    .fin{
        font-style: normal;
    font-size: 50px;
    color: rgb(73, 36, 36);
    text-align: center;
    margin: 40px;
    }