.oro{
    font-style: oblique;
font-weight: 50;
font-size: 65px;
color: rgb(73, 36, 36);
text-align: center;
text-decoration: wavy;
margin: 40px;
}

.tabla{
width: 100%;
   text-align:center;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
    text-align: center;
    width: 100%;
    border: 1px dotted rgb(93, 49, 49);
    background-color: rgb(160, 131, 131);
    font-size: 30px;
    color: rgb(255, 255, 255);
}