@import "_variables";
@import "_nav";
@import "_texto";
@import "_footer";
@import "_tarjeta";
@import "_mixins";
@import "_titulos";
@import "_presentacion";
@import "_pie";
@import "_oroytabla";
@import "_formulario";



    


